<section>
    <md-item ng-repeat="a in $ctrl.appointments">
        <md-item-content>
            <div class="md-tile-left inset" hide-sm>
                <user-avatar></user-avatar>
            </div>
            <div class="md-tile-content">
                <h3>Location: Ouluhali Court  || Time:    {{a.date | date:'dd-MMM-yyyy @ h:mma'}}<h3>
                <h4>Phone: {{a.phone}}</h4>
                <h4>
                    Registered for person: {{a.name}} 
                </h4>
            </div>
        </md-item-content>
        <md-card-footer></md-card-footer>
    </md-item>
</section>
