
<div>

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h2>All recently reservation</h2>
      </div>
    </md-toolbar>
        <md-list-item class="" ng-repeat="a in $ctrl.appointments">
          <div class="md-list-item-text" layout="">
            <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            <tr>
            <tr class="booked-items">
                <td><h3>{{a.name}}</h3></td>
                <td><h4>{{a.date | date:'dd-MMM-yyyy @ h:mma'}}</h4></td>
                <td><h4>Ouluhalli Court</h4></td>
                <td><h4>Tel: {{a.phone}}</h4></td>
            </tr>
            </table>
          </div>
        </md-list-item>
  </div>

  <md-divider></md-divider>